<div class="jumbo-header">
    <h1>Synapse CSS Implementation Standards</h1>
    <p>All css styles and basic implementation patterns for the Mapworks user experience are outlined in this document</p>
    <p>The name of the CSS used by Mapworks is synapse.css. This pays homage to the Mapworks rebuilding project called Synapse</p>
    <p>If any part of the implementation of style appears absent from this standard, please contact the owners to change it for inclusion</p>
    <div class="buttons">
        <a class="button button-primary" href="app/styles/synapse-1.0.css">Download it!</a>
    </div>
</div>