<div class="main-navigation">
    <div class="main-menu">
        <div class="main-menu-items">
            <div class="logo"><a href="#"><img src="app/images/Skyfactor-Mapworks-Logo-(2-Color-White).png"  width="110"/></a></div>
            <ul class="main-menu-list">
                <li class="main-menu-item" ng-class="{'leftmost-main-menu-item':$index===0}"
                    ng-repeat="link in menuItems"><a ng-class="{'main-menu-disabled':link.disabled}"
                                                     ng-href="{{link.disabled ? '' : link.url }}">{{link.text}}</a></li>
            </ul>
        </div>
        <div class="right-side-main-menu">
            <div class="my-account"><a href="#">My Account</a></div>
            <div class="alerts"><a href="#"><img src="app/images/icon/setup_icons/alert_icon.png"/></a></div>
            <div class="help"><a href="#"><img src="app/images/icon/setup_icons/help_icon.png"></a></div>
        </div>
    </div>
    <div class="sub-menu">
        <div class="sub-menu-items">
            <ul class="sub-menu-list">
                <li class="sub-menu-item" ng-class="{'rightmost-sub-menu-item':$last}"
                    ng-repeat="subLink in submenuItems"><a class="sub-menu-link" ng-class="{'disabled-sub-menu':subLink.disabled}"
                                                           ng-href="{{subLink.disabled ? '' : subLink.url }}">{{subLink.text}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
