<div class="main-navigation">
    <div class="main-menu">
        <div class="main-menu-items">
            <div class="logo"><a href="#"><img src="app/images/Skyfactor-Logo-powered-by.png"/></a></div>
            <div class="campus-name"></div>
            <ul class="main-menu-list">
                <li class="main-menu-item" ng-class="{'leftmost-main-menu-item':$index===0}"
                    ng-repeat="link in menuItems"><a ng-class="{disabledmainmenu:link.disabled}"
                                                     ng-href="{{link.disabled ? '' : link.url }}">{{link.text}}</a></li>
            </ul>
        </div>
        <div class="right-side-main-menu">
            <div class="my-account"><a href="#">My Account</a></div>
            <div class="alerts"><a href="#"><img src="app/images/icon/setup_icons/alert_icon.png"/></a></div>
            <div class="help"><a href="#"><img src="app/images/icon/setup_icons/help_icon.png"></a></div>
        </div>
    </div>
</div>