<div class="row">
    <div class="col col-2"></div>
    <div class="col col-8">
        <div class="jumbo-header">
            <h1>Navigation</h1>
            <p>Details about how the navigation bar works in the application</p>
        </div>
    </div>
    <div class="col col-2"></div>
</div>

<div class="row">
    <div class="col-12">
        <a name="main"></a>
        <h1>Navigation Bar</h1>
        <p>The navigation bar is affixed to the top of the page, allowing for easy access to all application areas
            without
            further required scrolling.</p>
    </div>
</div>
</div>
<div class="row">
    <div class="col col-12">
        <h1>Main Navigation</h1>
        <p>Main navigation relies on an object in application scope - for example menuItems - that contains the
            following
            information found below. Any time any additions to main navigation should take place, add it to this
            navigation
            menu as well as the angular js routes.</p>
    </div>
</div>
<div class="row">
    <div class="col col-2"></div>
    <div class="col col-8">
        <pre class="codeblock">
$scope.menuItems = {
    navigation: {
        url: '#/navigation',
        disabled: false,
        text: 'Navigation'
    },
    .
    .
    .
}
       </pre>
    </div>
    <div class="col col-2"></div>
</div>
<div class="row">
    <div class="col-12">
        <a name="sub" class="page-anchor"></a>
        <h1>Sub Navigation</h1>
        <p>Sub navigation relies on an object in application scope - for example submenuItems - that contains the
            following
            information found below, based on an array. Any time the route changes, it looks for the submenu items in
            this
            array and adds each of the items in the matched key into the sub navigation menu</p>
    </div>
</div>
<div class="row">
    <div class="col col-2"></div>
    <div class="col col-8">
        <pre class="codeblock">
availableSubMenuItems = {
    '/navigation': [
        {
            url: '#/navigation#main',
            disabled: false,
            text: 'Main Navigation'
        }, {
            url: '#/navigation#sub',
            disabled: false,
            text: 'Sub Navigation'
        }
    ]
}

$scope.$on('$routeChangeSuccess', function(){
    $scope.submenuItems = availableSubMenuItems[$scope.$location.path()];
});
        </pre>
    </div>
    <div class="col col-2"></div>
</div>
<div class="row">
    <div class="col col-12">
        <a name="myaccount"></a>
        <h1>My Account</h1>
        <p>My Account uses the "main-menu-dropdown" class to keep links related to this item.</p>
        <div class="row">
            <div class="col col-1">
            </div>
            <div class="col col-10">
                <div class="html-example">
                    <div class="row">
                        <div class="col col-3">
                        </div>
                        <div class="col col-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class="main-menu">
                                        <div class="right-side-main-menu">
                                            <div class="my-account">
                                                <div class="my-account-link"><a href="#/navigation#myaccount">My
                                                    Account</a>
                                                </div>
                                            </div>
                                            <div class="alerts"><a href="#/navigation#alerts"><img
                                                    src="app/images/icon/setup_icons/alert_icon.png"></a></div>
                                            <div class="help"><a href="#/navigation#help"><img
                                                    src="app/images/icon/setup_icons/help_icon.png"></a></div>
                                        </div>
                                    </div>
                                    <div class="main-menu-dropdown">
                                        <ul class="main-menu-dropdown-links">
                                            <li class="main-menu-dropdown-link"><a href="#/navigation#myaccount">My Account</a></li>
                                            <li class="main-menu-dropdown-link"><a href="#/navigation#logout">Log Out</a></li>
                                        </ul>
                                    </div>
                                    <div class="sub-menu"></div>
                                </div>
                            </div>

                        </div>
                        <div class="col col-3 last">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-3">

                        </div>
                        <div class="col col-6">

                        </div>
                        <div class="col col-3 last">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-1">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-12">
        <a name="alerts"></a>
        <h1>Alerts</h1>
    </div>
</div>
<div class="row">
    <div class="col col-12">
        <a name="help"></a>
        <h1>Help</h1>
    </div>
</div>
