a.button{
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
    border-radius: 2px;
    border: 0;
    background-color: #666666;
}
a.button:hover{
    background-color: #777777;
}

a.button:active{
    background-color: #333333;
}

a.button-primary{
    background-color: #4673a7;
}

a.button-primary:hover{
    background-color: #1e73d5;
}

a.button-primary:active{
    background-color: #4673a7;
}


.buttons{
    width: 80%;
    margin: 0 auto;
    text-align: right;
}


.help {
    display:table-cell;
    height:60px;
    padding-left:10px;
    padding-right:10px;
    vertical-align:middle;
}

.jumbo-header{
    background-color: #faad00;
    margin: 0 auto;
    width: 60%;
    border-radius: 20px;
    padding-bottom: 10px;
}
.jumbo-header h1{
    text-align: center;
    font-size: 40px;
    padding: 10px;
}

.jumbo-header p{
    margin: 10px;
}

.left-side-main-menu {
    display:table-cell;
    height:60px;
    vertical-align:middle;
}

.leftmost-main-menu-item {
    border-left:1px solid rgba(0,0,0,.2);
}

.logo,.campus-name {
    padding: 5px;
    display:table-cell;
}

.main-menu {
    background-color:#4673a7;
    border-bottom:1px solid #3a3734;
    border-top:1px solid #aaa9a6;
    color:#FFF;
    font-size:16px;
    height:60px;
}

.main-menu a {
    color:#FFF;
    text-decoration:none;
}

.main-menu-disabled,a.main-menu-disabled {
    color:rgba(255,255,255,.2);
    cursor:default;
}

.main-menu-item {
    border-right:1px solid rgba(0,0,0,.2);
    display:table-cell;
    height:60px;
    padding-left:13px;
    padding-right:13px;
    vertical-align:middle;
}

.main-menu-items {
    display:table-cell;
    float:left;
    margin:0;
    padding:0;
}

.main-menu-list {
    display:table-cell;
    margin:0;
    padding:0;
}

.sub-menu {
    background-color:#e3e3e3;
    border-bottom:1px solid #cccccc;
    color:#4673a7;
    font-size:16px;
    height:60px;
}

.sub-menu a {
    color:#4673a7;
    text-decoration:none;
}

.sub-menu-disabled,a.sub-menu-disabled {
    color:rgba(255,255,255,.2);
    cursor:default;
}

.sub-menu-item {
    display:table-cell;
    height:60px;
    vertical-align:middle;
}

.sub-menu-link {
    padding-left: 13px;
    padding-right: 13px;
    border-right: 1px solid rgba(0,0,0,.2);
}

.sub-menu-items {
    display:table-cell;
    float:left;
    margin:0;
    margin-left: 150px;
    padding:0;
}

.sub-menu-list {
    display:table-cell;
    margin:0;
    padding:0;
}

.my-account a:after {
    content:url('../images/icon/dashboard_icons/header-arrow-base.png');
    padding-left:4px;
}

.my-account,.alerts {
    border-right:1px solid rgba(0,0,0,.2);
    display:table-cell;
    height:60px;
    padding-left:10px;
    padding-right:10px;
    vertical-align:middle;
}

.right-side-main-menu {
    display:table-cell;
    float:right;
    height:60px;
    vertical-align:middle;
}

@font-face {
    font-family:HelveticaNeue;
    font-style:normal;
    font-weight:400;
    src:url(../fonts/HelveticaNeueLTStd-Lt/helveticaneueltstd-lt.eot?#iefix&v=4.2.0) format(embedded-opentype), url(../fonts/HelveticaNeueLTStd-Lt/helveticaneueltstd-lt.woff?v=4.2.0) format(woff), url(../fonts/HelveticaNeueLTStd-Lt/helveticaneueltstd-lt.ttf?v=4.2.0) format(truetype), url(../fonts/HelveticaNeueLTStd-Lt/helveticaneueltstd-lt.svg?v=4.2.0#fontawesomeregular) format(svg);
}

body {
    background-color:#f2f2f2;
    font-family:HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size:16px;
    margin:0;
    min-width:1170px;
    padding:0;
}