#content {
    margin-bottom: 80px;
    margin-top: 140px;
    padding: 0 5px;
}

#footer {
    background-color: #f2f2f2;
    border-top: 1px solid #888;
    bottom: 0;
    min-width: 1170px;
    position: fixed;
    width: 100%;
}

#header {
    min-width: 1170px;
    position: fixed;
    top: 0;
    width: 100%;
}

.buttons {
    margin: 0 auto;
    text-align: right;
    width: 80%;
}

.col {
    box-sizing: border-box;
    float: left;
    margin-right: 1.5%;
    padding: 0;
}

.col img {
    display: block;
    height: auto;
    width: 100%;
}

.col-1 {
    width: 6.95%;
}

.col-10 {
    width: 83%;
}

.col-11 {
    width: 91.45%;
}

.col-12 {
    margin: 0;
    width: 100%;
}

.col-2 {
    width: 15.4%;
}

.col-3 {
    width: 23.85%;
}

.col-4 {
    width: 32.3%;
}

.col-5 {
    width: 40.75%;
}

.col-6 {
    width: 49.2%;
}

.col-7 {
    width: 57.65%;
}

.col-8 {
    width: 66.1%;
}

.col-9 {
    width: 74.55%;
}

.col.last {
    margin: 0;
}

.help {
    display: table-cell;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.left-side-main-menu, .sub-menu-item {
    display: table-cell;
    height: 60px;
    vertical-align: middle;
}

.main-menu-item.first {
    border-left: 1px solid rgba(0, 0, 0, .2);
}

.logo img {
    vertical-align: middle;
}

.logo, .campus-name {
    display: table-cell;
    padding: 5px;
    vertical-align: middle;
    width: 135px;
}

.main-menu {
    background-color: #4673a7;
    border-bottom: 1px solid #3a3734;
    border-top: 1px solid #aaa9a6;
    color: #FFF;
    font-size: 16px;
    height: 60px;
}

.main-menu a {
    color: #FFF;
    text-decoration: none;
}

.main-menu-disabled, a.main-menu-disabled, .sub-menu-disabled, a.sub-menu-disabled {
    color: rgba(255, 255, 255, .2);
    cursor: default;
}

.main-menu-item {
    border-right: 1px solid rgba(0, 0, 0, .2);
    display: table-cell;
    height: 60px;
    padding-left: 13px;
    padding-right: 13px;
    vertical-align: middle;
}

.main-menu-items {
    display: table-cell;
    float: left;
    margin: 0;
    padding: 0;
    width: 900px;
}

.main-menu-list, .sub-menu-list {
    display: table-cell;
    margin: 0;
    padding: 0;
}

.my-account a:after {
    content: url('../images/icon/dashboard_icons/header-arrow-base.png');
    padding-left: 4px;
}

.my-account, .alerts {
    border-right: 1px solid rgba(0, 0, 0, .2);
    display: table-cell;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.right-side-main-menu {
    display: table-cell;
    float: right;
    height: 60px;
    vertical-align: middle;
}

.row {
    clear: both;
    padding-bottom: 25px;
}

.sub-menu {
    background-color: #e3e3e3;
    border-bottom: 1px solid #ccc;
    color: #4673a7;
    font-size: 16px;
    height: 60px;
}

.sub-menu a {
    color: #4673a7;
    text-decoration: none;
}

.sub-menu-items {
    display: table-cell;
    float: left;
    margin: 0 0 0 261px;
    padding: 0;
}

.sub-menu-link {
    border-right: 1px solid rgba(0, 0, 0, .2);
    padding-left: 13px;
    padding-right: 13px;
}

.sub-menu-link.last {
    border-right: 0;
}

@font-face {
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/HelveticaNeueLTStd-Lt/helveticaneueltstd-lt.eot?#iefix&v=4.2.0) format(embedded-opentype), url(../fonts/HelveticaNeueLTStd-Lt/helveticaneueltstd-lt.woff?v=4.2.0) format(woff), url(../fonts/HelveticaNeueLTStd-Lt/helveticaneueltstd-lt.ttf?v=4.2.0) format(truetype), url(../fonts/HelveticaNeueLTStd-Lt/helveticaneueltstd-lt.svg?v=4.2.0#fontawesomeregular) format(svg);
}

a.button {
    background-color: #666;
    border: 0;
    border-radius: 2px;
    color: #FFF;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
}

a.button-primary, a.button-primary:active {
    background-color: #4673a7;
}

a.button-primary:hover {
    background-color: #1e73d5;
}

a.button:active {
    background-color: #333;
}

a.button:hover {
    background-color: #777;
}

body {
    background-color: #f2f2f2;
    font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    min-width: 1170px;
    padding: 0;
}