.sub-menu {
    width: 100%;
    height: 70px;
    background-color: $gray89-color;
    .back-button {
        float: left;
        @include background-studentprofile-risk-icon($icon-url-studentprofile-module-back-icon);
        height: 30px;
        padding-left: 35px;
        margin-top: 20px;
        padding-top: 5px;
        margin-left: 5px;
    }
    .search-box {
        float: right;
        margin-top: 15px;
        margin-right: 5px;
        input {
            width: 255px;
            height: 38px;
            padding-left: 5px;
            @include background-studentprofile-risk-icon($icon-url-studentprofile-module-search-icon);
            background-position: right;
            background-color: $white-color;
            &:hover {
                background-position: right;
                background-color: $white-color;
            }
        }
    }
}
.student-profile-header {
    padding: 26px 20px;
    p {
        display: inline-block;
        font-size: 24px;
    }
    .studentname-header {
        padding-left: 5px;
    }
    .student-profile-print {
        float: right;
        font-size: 14px;
    }
}
.student-profile-container {
    width: 100%;
    height: 250px;
    background-color: $white-color;
    .student-profile-photo {
        background-image: url(../../images/new-img.png);
        height: 250px;
        width: 250px;
    }
    .student-profile-info {
        width: 500px;
    }
    .student-name {
        font-size: 50px;
        color: $gray20-color;
        padding-top: 20px;
        margin-bottom: 0;
    }
    .student-id {
        font-size: 20px;
        color: $brand-warning;
    }
    .student-details {
        border-top: 1px solid $light-shade-gray;
        p {
            display: inline-block;
            margin-top: 15px;
        }
        .email-id {
            border-right: 1px solid $gray92-color;
            font-size: 10px;
            color: $gray60-color;
            font-weight: bold;
            float: left;
            padding-right: 20px;
            a {
                font-size: 18px;
                font-weight: 500;
            }
        }
        .phone-no {
            padding-left: 20px;
            font-size: 10px;
            color: $gray60-color;
            font-weight: bold;
            span {
                font-size: 18px;
                color: $black-color;
                font-weight: 400;
            }
        }
    }
    .student-profile-risk-info {
        padding: 0;
        float: right;
        margin-top: 40px;
        margin-right: 40px;
        width: 218px;
        .risk-level-icon {
            display: inline-block;
            span {
                @include background-studentprofile-risk-icon($icon-url-studentprofile-module-risk-level-icon);
                height: 73px;
                width: 73px;
                display: inline-block;
                margin: 0px 18px 15px 18px;
            }
        }
        .leave-intent-icon {
            display: inline-block;
            border-left: 1px solid $gray94-color;
            span {
                @include background-studentprofile-risk-icon($icon-url-studentprofile-module-intent-level-icon);
                height: 73px;
                width: 73px;
                display: inline-block;
                margin: 0px 0px 15px 18px;
            }
        }
        .student-details {
            width: 225px;
            .risk-update {
                border-right: 1px solid $gray94-color;
                font-size: 10px;
                font-weight: bold;
                padding-left: 9px;
                padding-right: 9px;
                text-align: center;
                color: $gray60-color;
                span {
                    font-size: 18px;
                    font-weight: 500;
                    color: $gray20-color;
                }
            }
            .last-viewed {
                font-size: 10px;
                font-weight: bold;
                padding-left: 9px;
                text-align: center;
                color: $gray60-color;
                span {
                    font-size: 18px;
                    font-weight: 500;
                    color: $gray20-color;
                }
            }
        }
    }
}
.student-profile-status {
    height: 32px;
    width: 100%;
    background-image: url(../../images/icon/student_view/survey-status-banner-bg-tile.png);
    text-align: center;
    background-color: $orange1-color;
    line-height: 32px;
    color: $white-color;
    font-size: 16px;
    span:first-child {
        padding-right: 15px;
    }
}
.ss-student-referral {
    height: 172px;
    width: 370px;
    margin: 30px 30px 0px 0px;
    h2 {
        text-align: center;
        border-left: none;
        text-transform: none;
        font-size: 18px;
        font-weight: 500;
        span {
            @include background-studentprofile-icon($icon-url-studentprofile-module-referral-icon);
            height: 20px;
            width: 20px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 7px;
        }
    }
    .ss-content {
        border-top: 1px solid $blue-color;
        height: 88px;
        text-align: center;
        .ss-count {
            font-size: 55px;
            color: $gray20-color;
            height: 55px;
            cursor: pointer;
        }
        .ss-value {
            font-size: 12px;
            color: $brand-warning;
            display: inline-block;
        }
        .ss-action {
            height: 40px;
            border-radius: 0px;
            background-color: $gray43-color;
            color: $white-color;
            margin-top: 5px;
        }
    }
}
.ss-student-Appointment {
    @extend .ss-student-referral;
    h2 {
        span {
            @include background-studentprofile-icon($icon-url-studentprofile-module-appointment-icon);
        }
    }
}
.ss-student-contact {
    @extend .ss-student-referral;
    h2 {
        span {
            @include background-studentprofile-icon($icon-url-studentprofile-module-contact-icon);
        }
    }
    margin-right: 0px;
}
.ss-student-profile-activity {
    width: 1170px;
    background-color: $white-color;
    margin-top: 40px;
    .student-profile-activity-header {
        height: 60px;
        .activity-dropdown {
            padding-top: 13px;
            width: 200px;
            float: left;
        }
        .add-activity-icon {
            @include background-image-action-icon($icon-url-add-icon);
            font-size: 16px;
            margin-top: 10px;
            margin-right: 0px;
        }
    }
    .table {
        margin-bottom: 0px;
        th {
            span {
                vertical-align: middle;
            }
            .interaction-check {
                display: inline-block;
                float: right;
                .checkbox {
                    label {
                        font-size: 10px;
                        margin-right: 10px;
                    }
                }
            }
        }
        tbody {
            td:first-child {
                width: 200px;
            }
            td {
                .activity-date {
                    display: inline-block;
                    font-size: 24px;
                    vertical-align: top;
                }
                .activity-month {
                    display: inline-block;
                    line-height: 10px;
                    padding-top: 8px;
                    padding-left: 5px;
                    span:first-child {
                        font-weight: bold;
                        color: $blue-color;
                    }
                    span:last-child {
                        font-size: 10px;
                    }
                }
                .activity-note {
                    float: left;
                    .appointment {
                        font-size: 18px;
                        cursor: pointer;
                        color: $lima-color;
                    }
                    .staff-name {
                        color: $gray20-color;
                        font-size: 14px;
                    }
                    .reason {
                        font-size: 13px;
                        color: $brand-warning;
                    }
                    .see-all {
                        color: $lima-color;
                        font-size: 12px;
                        font-weight: 700;
                        cursor: pointer;
                        padding-left: 10px;
                        padding-right: 14px;
                        display: inline-block;
                        @include background-image-right($icon-url-studentprofile-module-more-arrow-icon);
                    }
                    .description {
                        padding: 10px 0px;
                    }
                    .see-less {
                        @extend .see-all;
                        @include background-image-right($icon-url-studentprofile-module-less-arrow-icon);
                        padding-left: 0px;
                    }
                }
                .new-activity-dropdown {
                    float: right;
                }
            }
        }
    }
}
.ss-student-profile {
    background-color: $white-color;
    padding: 2px 0px 0px 2px;
    margin-top: 30px;
    .tab-left {
        width: 215px;
        padding: 0px;
        .nav-stacked {
            li {
                + li {
                    margin-top: 0px;
                }
                background-color:$whitesmoke-color;
                border: 1px solid $light-shade-gray;
                a {
                    border: 0px;
                    @extend .ss-link-with-right-arrow;
                }
            }
            .active {
                border: 0px;
                background-color: $white-color;
            }
        }
    }
    .tab-right {
        width: 953px;
        .ss-profile-data-table {
            width: 410px;
            padding: 0;
            margin-right: 50px;
            .table-responsive {
                .table {
                    tr:nth-child(odd) {
                        background-color: $whitesmoke-color;
                    }
                    tr:nth-child(even) {
                        background-color: $white-color;
                    }
                    tr:last-child{
                        border-bottom:1px solid $gray94-color;
                    }
                    td {
                        height: 44px;
                    }
                    .profile_heading {
                        color: $gray20-color;
                        padding-top: 50px;
                        padding-bottom: 25px;
                        border-bottom: 2px solid $blue-color;
                        text-align: left;
                        font-size: 20px;
                    }
                    .profile_table_text {
                        text-align: right;
                        font-size: 14px;
                        color: $gray20-color;
                        font-weight: 600;
                    }
                    .profile_table_data {
                        font-size: 14px;
                        color: $blue-color;
                        font-weight: 500;
                        padding-left: 10px;
                    }
                }
            }
        }
        .ss-profile-data-table-right{
            @extend .ss-profile-data-table;
            margin-right: 0px;
        }
    }
}