.ss-menus-right {
    display: inline-block;
    float: right;
    padding-right: 20px;
    margin-top: 10px;
    &.ss-link-with-right-arrow {
        margin-top: 0;
        margin-right: 20px;
    }
}
.ss-faculty-dashboard-module {
    @extend .ss-dashboard-module;
    width: 570px;
    & > h2 {
        display: inline-block;
        float: left;
    }
    & > .ss-menus-right {
        a {
            vertical-align: middle;
        }
    }
}
.ss-module-academic-updates {
    margin-right: 60px;
}
.ss-faculty-dashboard-module.ss-module-todays-agenda {
    & > h2 {
        line-height: 12px;
    }
    & .ss-menus-right {
        height: 43px;
        text-align: right;
        > p {
            font-size: 11px;
            display: inline-block;
            float: left;
            margin: 6px 0px 0px 10px;
            & > span:first-child {
                font-weight: 600;
                color: $lima-color;
            }
        }
        & > .ss-agenda-count {
            font-size: 30px;
            line-height: 30px;
        }
    }
    .table-responsive {
        clear: both;
        & > .custom-table {
            th {
                padding: 0 0 0 10px;
                height: 15px;
                border-bottom: none;
            }
            tbody {
                tr {
                    padding: 0px;
                    td {
                        height: 45px;
                        padding: 0 0 0 15px;
                        .agenda-time-hour {
                            display: inline-block;
                            font-size: 24px;
                            vertical-align: top;
                            width: 32px;
                            text-align: right;
                        }
                        .agenda-time-minutes {
                            display: inline-block;
                            line-height: 10px;
                            padding-top: 8px;
                            span {
                                color: $davy-gray-color;
                                &:last-child {
                                    font-weight: bold;
                                    color: $blue-color;
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                    td:first-child {
                        padding-left: 10px;
                        width: 15%;
                        background-color: $gray-light;
                        border-top: 1px solid $white-color;
                        border-left: 1px solid $white-color;
                    }
                    .reason {
                        color: $fordblack-color;
                    }
                    .student-name {
                        color: $lima-color;
                        &:hover {
                            color: $brand-warning;
                            cursor: pointer;
                        }
                        &:clicked {
                            color: $gray20-color;
                        }
                    }
                }
            }
        }
    }
}
.ss-faculty-dashboard-module.ss-module-referrals {
    @extend .ss-faculty-dashboard-module.ss-module-todays-agenda;
    margin: 20px 60px 0 0;
    h2 {
        line-height: 23px;
    }
    table {
        margin-bottom: 0px;
        border-bottom: 1px solid $border-color-light;
    }
}
.ss-faculty-dashboard-module.ss-module-myteam-activities {
    margin-top: 20px;
    @extend .ss-coord-dashboard-module.ss-additional-setup;
    h2 {
        line-height: 12px;
    }
    .team-menu {
        width: 184px;
    }
    .row > .dropdown-calender {
        padding: 0px;
    }
    .ss-module-content {
        ul > li {
            padding: 11px 10px 15px 20px;
            .referral-icon {
                float: left;
                width: 40px;
                height: 40px;
                display: inline-block;
                @include background-activities-icon($icon-url-dash-module-activities-referrals-icon);
            }
            .interaction-icon {
                @extend .referral-icon;
                @include background-activities-icon($icon-url-dash-module-activities-interactions-icon);
            }
            .login-icon {
                @extend .referral-icon;
                @include background-activities-icon($icon-url-dash-module-activities-login-icon);
            }
            a {
                width: 475px;
                float: right;
                margin-right: 10px;
                .count {
                    float: right;
                    padding-right: 20px;
                    color: $brand-warning;
                    font-size: 30px;
                }
            }
        }
    }
}
.ss-faculty-dashboard-module.ss-module-student-risk {
    margin: 20px 60px 0 0;
    .ss-student-header {
        height: 43px;
        border-bottom: 1px solid $light-shade-gray;
        span:first-child {
            width: 50%;
            float: left;
            border-right: 1px solid $light-shade-gray;
            h2 {
                width: 125px;
                height: 24px;
            }
        }
        span:last-child {
            float: right;
            width: 50%;
            h2 {
                line-height: 12px;
                width: 150px;
            }
        }
    }
    .ss-my-students {
        border-right: 1px solid $light-shade-gray;
        height: 197px;
        padding: 0px;
        ul {
            float: left;
            width: 67px;
            padding: 0px;
            margin: 1px 0px;
            li {
                list-style: none;
                width: 67px;
                height: 37px;
                font-size: 20px;
                color: $brand-warning;
                text-align: center;
                margin-bottom: 2px;
                background-color: $gray-light;
                cursor: pointer;
                label {
                    display: block;
                    font-size: 10px;
                    color: $brand-warning;
                    margin-right: 5px;
                    margin-top: -5px;
                    margin-left: -5px;
                    text-align: center;
                }
            }
            li:nth-child(1) {
                border-left: 2px solid $venetian-red;
            }
            li:nth-child(2) {
                border-left: 2px solid $bright-red;
            }
            li:nth-child(3) {
                border-left: 2px solid $sunglow-color;
            }
            li:nth-child(4) {
                border-left: 2px solid $light-green;
            }
            li:nth-child(5) {
                border-left: 2px solid $gray60-color;
            }
        }
        .total-student-chart {
            width: 217px;
            height: 197px;
            float: right;
            padding: 11px 20px;
        }
        .total-students-center {
            position: absolute;
            left: 115px;
            top: 60px;
            .student-count {
                font-size: 3.125em;
                cursor: pointer;
            }
            span:last-child {
                display: block;
                margin-top: -8px;
                padding-left: 12px;
            }
        }
    }
    .ss-high-priority {
        height: 197px;
        position: relative;
        .ss-high-priority-count {
            height: 137px;
            text-align: center;
            font-size: 7.5em;
            margin-top: -11px;
            cursor: pointer;
        }
        .ss-high-priority-content {
            cursor: pointer;
            @include background-image-right($icon-url-dash-module-priority-arrow-base);
            height: 60px;
            border-top: 1px solid $border-color-light;
            text-align: right;
            padding: 10px 30px;
            span:first-child {
                color: $venetian-red;
            }
        }
    }
}
.ss-faculty-dashboard-module.ss-module-survey-completions {
    margin-top: 20px;
    .team-menu {
        width: 184px;
    }
    .row > .dropdown-calender {
        .dropdown {
            float: right;
        }
    }
    .ss-survey-cohort {
        text-align: left;
        ul {
            list-style: none;
            padding: 0;
            li {
                height: 81px;
                padding: 12px 20px;
                border-bottom: 1px solid #F3F3F3;
                cursor: pointer;
                .cohort-name {
                    font-weight: bold;
                    padding-bottom: 4px;
                    display: inline-block;
                }
                .survey-progress {
                    width: 530px;
                    .progress {
                        width: 460px;
                        float: left;
                        margin: 0;
                    }
                    .survey-respond-percent {
                        width: 50px;
                        margin-top: -15px;
                        float: right;
                        .survey-count {
                            font-size: 30px;
                        }
                        .survey-response {
                            font-size: 9px;
                            position: relative;
                            top: -12px;
                        }
                    }
                    .survey-completion-values {
                        width: 460px;
                        text-align: right;
                        font-size: 18px;
                    }
                }
            }
        }
        .survey-legend {
            span {
                font-size: 9px;
                text-align: left;
                color: $gray60-color;
                display: inline-block;
                text-transform: uppercase;
                margin-left: 15px;
                padding: 1px 0px 0px 15px;
                @include background-image-survey-key ($icon-url-dash-module-survey-key-responded-icon);
            }
            span:last-child {
                color: $gray20-color;
                @include background-image-survey-key ($icon-url-dash-module-survey-key-notresponded-icon);
            }
        }
    }
}