.ss-faculty-dashboard-module.ss-module-student-risk {
     margin-top: 20px;
    .ss-student-header {
        height: 43px;
        border-bottom: 1px solid $light-shade-gray;
        span:first-child {
            width: 50%;
            float: left;
            border-right: 1px solid $light-shade-gray;
            h2 {
                width: 125px;
                height: 24px;
            }
        }
        span:last-child {
            float: right;
            width: 50%;
            h2 {
                line-height: 12px;
                width: 150px;
            }
        }
    }
    .ss-my-students {
        border-right: 1px solid $light-shade-gray;
        height: 197px;
        padding: 0px;
        ul {
            float: left;
            width: 67px;
            padding: 0px;
            margin: 1px 0px;
            li {
                list-style: none;
                width: 67px;
                height: 37px;
                font-size: 20px;
                color: $brand-warning;
                text-align: center;
                margin-bottom: 2px;
                background-color: $gray-light;
                cursor: pointer;
                label {
                    display: block;
                    font-size: 10px;
                    color: $brand-warning;
                    margin-right: 5px;
                    margin-top: -5px;
                    margin-left: -5px;
                    text-align: center;
                }
            }
            li:nth-child(1) {
                border-left: 2px solid $venetian-red;
            }
            li:nth-child(2) {
                border-left: 2px solid $bright-red;
            }
            li:nth-child(3) {
                border-left: 2px solid $sunglow-color;
            }
            li:nth-child(4) {
                border-left: 2px solid $light-green;
            }
            li:nth-child(5) {
                border-left: 2px solid $gray60-color;
            }
        }
        .total-student-chart {
            width: 217px;
            height: 197px;
            float: right;
            padding: 11px 20px;
        }
        .total-students-center {
            position: absolute;
            left: 115px;
            top: 60px;
            .student-count {
                font-size: 3.125em;
                cursor: pointer;
            }
            span:last-child {
                display: block;
                margin-top: -8px;
                padding-left: 12px;
            }
        }
    }
    .ss-high-priority {
        height: 197px;
        position: relative;
        .ss-high-priority-count {
            height: 137px;
            text-align: center;
            font-size: 7.5em;
            margin-top: -11px;
            cursor: pointer;
        }
        .ss-high-priority-content {
            cursor: pointer;
            @include background-image-right($icon-url-dash-module-priority-arrow-base);
            height: 60px;
            border-top: 1px solid $border-color-light;
            text-align: right;
            padding: 10px 30px;
            span:first-child {
                color: $venetian-red;
            }
        }
    }
}