//blockquotes
blockquote{
    border: 1px solid #CCCCCC;
    border-left: 3px solid #4673A7;
    padding: 15px 20px;
    page-break-inside: avoid;
    min-height: 89px;
    font-size: 14px;
    background: #fff;
}