//Checkbox and radio styling

.checkbox,
.checkbox-inline,.radio, .radio-inline {
    padding: 0;
    input {
        display: none;
        +label {
            padding-left: 25px;
            line-height: 20px;
            background-size: 17px;
            background-repeat: no-repeat;
            background-position: left center;
        }
    }
}


.checkbox,
.checkbox-inline {
    input {
        +label {
            background-image: url(../../images/icon/search_icons/checkbox-unchecked.png);
        }
        &:checked + label {
            background-image: url(../../images/icon/search_icons/checkbox-checked.png);
        }
    }
}

.radio,
.radio-inline {
    input {
        +label {
            background-image: url(../../images/radio-button-off.png);
        }
        &:checked + label {
            background-image: url(../../images/radio-button-on.png);
        }
    }
}

//select box styling
select {
    &.form-control {
        color: #1e73d5;
        background: url("../../images/icon/setup_icons/selector-arrow-base.png") no-repeat 97% center #fff;
        background-position: right 10px center;
        font-weight: bold;
        padding-right: 30px;
    }
}

.form-control {
     @include border-radius(0px);
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    height: 34px;
    background-color: #FFFFFF;
    text-align: left;
    border: 1px solid #acacac;
}


