.modal-lg {
    width: 810px !important;
}

.modal-body {
    &.modal-with-tabs {
        padding: 0;
        overflow: hidden;
    }
    &.message-modal {
        padding: 25px;
    }
    
}

.modal-header {
    border-radius: 8px 8px 0 0;
    padding: 0 15px;
    background: #F4F4F4;
    height: 52px;
    width: 100%;
    border-bottom: 1px solid #CCC;
    line-height: 52px;
    .modal-title {
        margin: 0;
        line-height: 52px;
        font-size: 16px;
        display: inline-block;
    }
    .close-icon-circle {
        position: relative;
        top: 15px;
    }
}

.modal-footer {
    border-top: 1px solid #CCC;
    background: none repeat scroll 0 0 #F4F4F4;
    border-radius: 0 0 8px 8px;
    .btn {
        min-width: 170px;
    }
}

.message-with-icon {
    @include bg-values(80px, 80px);
    background-position: left center;
    display: block;
    padding: 35px 0 35px 90px;
    height: auto;
    width: 100%;
    &.error-message {
        background-image: url(../../images/icon/setup_icons/process-error-icon.png);
    }
    &.succes-message {
        background-image: url(../../images/icon/setup_icons/process-confirmation-icon.png);
    }
}

.message-modal {
    .modal-dialog {
        width: 420px;
        .close-icon-circle {
            position: relative;
            bottom: 15px;
            left: 15px;
        }
    }
}