.table {
    &.custom-table {
        thead {
            background: #eff5fc;
            th {
                font-size: 10px;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                color: #424242;
                height: 32px;
                text-align: left;
                text-transform: uppercase;
                padding-left: 15px!important;
                border-right: 1px solid #fff;
                &:last-child {
                    border-right: none;
                }
                &.sortable {
                    background: #d7e6f7;
                    cursor: pointer;
                    .caret {
                        position: relative;
                        top: 4px;
                        margin-right: 15px;
                    }
                    &.dsc {
                        .caret {
                            -webkit-transform: rotate(180deg);
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
        tbody {
            tr {
                background: #fff;
                &:first-child {
                    td {
                        border-top: none;
                    }
                }
            }
            .action {
                width: 200px;
            }
            td {
                padding: 15px;
                height: 56px;
                border-top: 1px solid #F3F3F3;
                border-right: 1px solid #F3F3F3;
                font-size: 13px;
                color: #666;
                &:last-child {
                    border-right: none;
                }
                input[type="text"] {
                    width: 100%;
                    border: 1px solid transparent;
                    height: 30px;
                    outline: none;
                    &:focus {
                        border: 1px solid #1e73d5;
                    }
                }
                .icons-list {
                    margin: 0;
                    text-align: center;
                    display: inline-block;
                    li {
                        padding: 0;
                        margin: 0;
                        border-right: 1px solid #ccc;
                        padding-right: 10px;
                        margin-right: 10px;
                        &:last-child {
                            border: none;
                        }
                    }
                }
                &.drop-down-holder{
                    text-align: center;
                    vertical-align: middle;
                }
            }
        }
        th,
        td {
            vertical-align: middle;
            .checkbox {
                margin: 0;
            }
        }
    }
    &.table-hover {
        tr:hover {
            background: #EFEFEF;
        }
    }
}

.table-responsive.with-dropdown{
    overflow: visible;
}