<section class="section">
    <h2>List Table</h2>
    <div class="table-responsive">
        <table class="table  custom-table table-hover" ng-init="sortType = true">
            <thead>
                <tr>
                    <th class="action">ID</th>
                    <th>Campus Name</th>
                    <th class="sortable" ng-click="sortType = !sortType" ng-class="sortType ? 'asc' : 'dsc'">Domain <span class="caret pull-right"></span></th>
                    <th class="action">Menu</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="action">1</td>
                    <td><strong>Campus1</strong></td>
                    <td>Campus.m.c</td>
                    <td class="action">
                        <ul class="list-inline icons-list">
                            <li>
                                <a href="javascript:void(0);" class="icon send-icon" title="Send"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="icon edit-icon" title="Edit"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="icon refresh-icon" title="Refresh"></a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><strong>Campus1</strong></td>
                    <td>Campus.m.c</td>
                    <td>
                        <ul class="list-inline icons-list">
                            <li>
                                <a href="javascript:void(0);" class="icon send-icon" title="Send"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="icon edit-icon" title="Edit"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="icon refresh-icon" title="Refresh"></a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><strong>Campus1</strong></td>
                    <td>Campus.m.c</td>
                    <td>
                        <ul class="list-inline icons-list">
                            <li>
                                <a href="javascript:void(0);" class="icon send-icon" title="Send"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="icon edit-icon" title="Edit"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="icon refresh-icon" title="Refresh"></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <section class="row">
        <div class="col-md-4">
            <div class="select-holder">
                <select class="form-control">
                    <option>25</option>
                    <option>50</option>
                    <option>75</option>
                    <option>100</option>
                </select>
            </div><span>Results per page</span> </div>
        <div class="col-md-8">
            <div class="pagination-holder">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">Prev</a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class=""><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li>
                            <a href="#" aria-label="Next">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section></section>