<section class="section">
    <h2>Search Results</h2>
    <div class="row margin-bottom">
        <section class="col-md-6">
            <h3 class="f-s-24 no-margin">1430 Search Results</h3> </section>
        <section class="col-md-6 text-right">
            <ul class="icons-list list-inline table-action-icons">
                <li>
                    <a href="#" class="table-save-icon" title="Save"></a>
                </li>
                <li>
                    <a href="#" class="table-share-icon" title="Share"></a>
                </li>
                <li>
                    <a href="#" class="table-export-icon" title="Export"></a>
                </li>
            </ul>
        </section>
    </div>
    <div class="white-bg search-result">
        <div class="row">
            <section class="col-md-6">
                <p>This search identified <span>1430</span> students </p>
            </section>
            <section class="col-md-6 text-right table-optoins-holder">
                <div class="checkbox-inline">
                    <input type="checkbox" id="hide">
                    <label for="hide">Hide Inactive</label>
                </div>
                <div class="btn-group" uib-dropdown> <a href="javascript:void(0);" class="btn btn-md btn-warning" uib-dropdown-toggle>Bulk Action <span class="caret"></span></a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a href="#">Add to a Static List</a></li>
                        <li role="menuitem"><a href="#">Create Referral</a></li>
                        <li role="menuitem"><a href="#">Make a Note</a></li>
                    </ul>
                </div> <a href="javascript:void(0);" class="btn btn-md btn-warning">Edit</a> </section>
        </div>
    </div>
    <div class="table-responsive with-dropdown">
        <table class="table  custom-table" ng-init="sortType = true">
            <thead>
                <tr>
                    <th>
                        <div class="checkbox">
                            <input type="checkbox" id="check" />
                            <label for="check"></label>
                        </div>
                    </th>
                    <th>Student Name</th>
                    <th>Risk</th>
                    <th>Intent to leave</th>
                    <th>Class Standing</th>
                    <th>Activities logged</th>
                    <th>Last activity</th>
                    <th class="drop-down-holder">Menu</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" id="check1" />
                            <label for="check1"></label>
                        </div>
                    </td>
                    <td> <a href="#">Student name</a> </td>
                    <td>
                        <a href="#" class="risk-icon risk-grey"></a>
                    </td>
                    <td>
                        <a href="#" class="intent-icon grey"></a>
                    </td>
                    <td>1st Year/Freshman</td>
                    <td>1</td>
                    <td>07/28/2016 - Referral</td>
                    <td class="drop-down-holder"> <span uib-dropdown>
                                        <a href="javascript:void(0);" uib-dropdown-toggle class="table-more-menu-icon"></a>
                                        <ul class="dropdown-menu" uib-dropdown-menu>
                                            <li><a href="#">Set/Change Primary Campus Connection</a></li>
                                            <li><a href="#">Remove Primary Campus Connection</a></li>
                                            <li><a href="#">Add to Static List</a></li>
                                        </ul>
                                    </span> </td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" id="check2" />
                            <label for="check2"></label>
                        </div>
                    </td>
                    <td> <a href="#">Student name</a> </td>
                    <td>
                        <a href="#" class="risk-icon risk-g"></a>
                    </td>
                    <td>
                        <a href="#" class="intent-icon stated"></a>
                    </td>
                    <td>1st Year/Freshman</td>
                    <td>1</td>
                    <td>07/28/2016 - Referral</td>
                    <td class="drop-down-holder"> <span uib-dropdown>
                                        <a href="javascript:void(0);" uib-dropdown-toggle class="table-more-menu-icon"></a>
                                        <ul class="dropdown-menu" uib-dropdown-menu>
                                            <li><a href="#">Set/Change Primary Campus Connection</a></li>
                                            <li><a href="#">Remove Primary Campus Connection</a></li>
                                            <li><a href="#">Add to Static List</a></li>
                                        </ul>
                                    </span> </td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" id="check3" />
                            <label for="check3"></label>
                        </div>
                    </td>
                    <td> <a href="#">Student name</a> </td>
                    <td>
                        <a href="#" class="risk-icon risk-r1"></a>
                    </td>
                    <td>
                        <a href="#" class="intent-icon grey"></a>
                    </td>
                    <td>1st Year/Freshman</td>
                    <td>1</td>
                    <td>07/28/2016 - Referral</td>
                    <td class="drop-down-holder"> <span uib-dropdown>
                                        <a href="javascript:void(0);" uib-dropdown-toggle class="table-more-menu-icon"></a>
                                        <ul class="dropdown-menu" uib-dropdown-menu>
                                            <li><a href="#">Set/Change Primary Campus Connection</a></li>
                                            <li><a href="#">Remove Primary Campus Connection</a></li>
                                            <li><a href="#">Add to Static List</a></li>
                                        </ul>
                                    </span> </td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" id="check4" />
                            <label for="check4"></label>
                        </div>
                    </td>
                    <td> <a href="#">Student name</a> </td>
                    <td>
                        <a href="#" class="risk-icon risk-r2"></a>
                    </td>
                    <td>
                        <a href="#" class="intent-icon stated"></a>
                    </td>
                    <td>1st Year/Freshman</td>
                    <td>1</td>
                    <td>07/28/2016 - Referral</td>
                    <td class="drop-down-holder"> <span uib-dropdown>
                                        <a href="javascript:void(0);" uib-dropdown-toggle class="table-more-menu-icon"></a>
                                        <ul class="dropdown-menu" uib-dropdown-menu>
                                            <li><a href="#">Set/Change Primary Campus Connection</a></li>
                                            <li><a href="#">Remove Primary Campus Connection</a></li>
                                            <li><a href="#">Add to Static List</a></li>
                                        </ul>
                                    </span> </td>
                </tr>
            </tbody>
        </table>
    </div>
    <section class="row">
        <div class="col-md-4">
            <div class="select-holder">
                <select class="form-control">
                    <option>25</option>
                    <option>50</option>
                    <option>75</option>
                    <option>100</option>
                </select>
            </div><span>Results per page</span> </div>
        <div class="col-md-8">
            <div class="pagination-holder">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">Prev</a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class=""><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li>
                            <a href="#" aria-label="Next">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</section>