<div class="container tables-page">
    <div class="row">
        <article class="col-md-12">
            <h2>Forms</h2>
            <section class="section">
                <h4>Dropdown</h4>
                <article class="row">
                    <div class="col-md-3">
                        <select class="form-control">
                            <option>Select Option</option>
                            <option>50</option>
                            <option>75</option>
                            <option>100</option>
                        </select>
                    </div>
                </article>
            </section>
            <section class="section">
                <h4>Text Field</h4>
                <article class="row">
                    <div class="col-md-3">
                        <h5>i) Normal/Focus</h5>
                        <input type="text" class="form-control" placeholder="Write Something here"/>
                    </div>
                    <div class="col-md-3">
                        <h5>ii) Disabled</h5>
                        <input type="text" class="form-control" placeholder="Write Something here" disabled/>
                    </div>
                    <div class="col-md-3">
                        <h5>iii) Readonly</h5>
                        <input type="text" class="form-control" placeholder="Write Something here" readonly/>
                    </div>
                    <div class="col-md-3 has-error">
                        <h5>iv) Error</h5>
                        <input type="text" class="form-control" placeholder="Write Something here"/>
                    </div>
                </article>
            </section>
            <section class="section">
                <h4>Checkbox</h4>
                <article class="row">
                    <div class="col-md-6">
                        <div class="checkbox-inline">
                            <input type="checkbox" id="check" />
                            <label for="check">Option 1</label>
                        </div>
                        <div class="checkbox-inline">
                            <input type="checkbox" id="check1" />
                            <label for="check1">Option 2</label>
                        </div>
                    </div>
                </article>
            </section>
            <section class="section">
                <h4>Radio buttons</h4>
                <article class="row">
                    <div class="col-md-6">
                        <div class="radio-inline">
                            <input type="radio" id="check3" name="check"/>
                            <label for="check3">Option 1</label>
                        </div>
                        <div class="radio-inline">
                            <input type="radio" id="check4"  name="check"/>
                            <label for="check4">Option 2</label>
                        </div>
                    </div>
                </article>
            </section>
        </article>
    </div>
</div>