//Header Styling
.main-header {
    .navbar-default {
        background: $blue-color;
        border: none;
        border-radius: 0;
        margin: 0;
        border-bottom: 1px solid $black-color;
        .container-fluid{
            padding: 0 0 0 15px;
        }
        .navbar-header {
            min-width: 300px;
            .navbar-brand {
                height: auto;
                padding: 8px 15px;
            }
        }
        .navbar-collapse {
            background: $blue-color;
            min-height: 60px;
            padding: 0;
        }
    }
}

.navbar-default {
    .navbar-nav {
        > li {
            > a {
                display: table-cell;
                height: 60px;
                vertical-align: middle;
                color: $white-color;
                border-left: 1px solid rgba(0, 0, 0, .2);
                &:hover,
                &:focus {
                    color: $white-color;
                    background: $dark-blue-color;
                }
                &.active {
                    color: $white-color;
                    background: $dark-blue-color;
                }
            }
//            &.active {
//                > a {
//                    color: $white-color;
//                    background: $dark-blue-color;
//                    &:hover,
//                    &:focus {
//                        color: $white-color;
//                        background: $dark-blue-color;
//                    }
//                }
//            }
        }
        > .open {
            > a {
                color: $white-color;
                background: $dark-blue-color;
                &:hover,
                &:focus {
                    color: $white-color;
                    background: $dark-blue-color;
                }
            }
        }
    }
}


//Notification styling
.notifications-holder {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    position: absolute;
    right: -1px;
    width: 391px !important;
    z-index: 9999;
    .notification-header {
        background: none repeat scroll 0 0 #f2f2f2;
        height: 39px;
        line-height: 39px;
        padding: 0 11px;
        position: relative;
        .close-icon {
            background: url("../../images/close-base@2x.png") no-repeat scroll center rgba(0, 0, 0, 0);
            background-size: 24px;
            border: medium none;
            display: block;
            height: 100%;
            position: absolute;
            top: 0;
            width: 24px;
            right: 11px;
            &:focus,
            &:active {
                background: url("./../images/close-pressed@2x.png") no-repeat scroll center rgba(0, 0, 0, 0);
                background-size: 24px;
            }
        }
    }
}

.notifications-holder {
    .notifications-list {
        list-style: outside none none;
        padding: 0;
        > li {
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            display: block;
            a {
                color: #333;
                display: block;
                font-size: 14px;
                line-height: 16.8px;
                padding: 13px 24px 10px;
                .blue-text {
                    color: #1f73d4;
                }
                &:hover{
                    text-decoration: none;
                }
            }
        }
        .notification-date {
            display: block;
            color: #797878;
            font-size: 12px;
        }
    }
}