@font-face {
    font-family: 'HelveticaNeueLTStd45Light';
    src: url('../../../fonts/HelveticaNeueLTStd-Lt.otf');
    src: url('../../../fonts/HelveticaNeueLTStd-Lt/helveticaneueltstd-lt.eot') format('embedded-opentype'),
         url('../../../fonts/HelveticaNeueLTStd-Lt/helveticaneueltstd-lt.woff2') format('woff2'),
         url('../../../fonts/HelveticaNeueLTStd-Lt/helveticaneueltstd-lt.woff') format('woff'),
         url('../../../fonts/HelveticaNeueLTStd-Lt/helveticaneueltstd-lt.ttf') format('truetype'),
         url('../../../fonts/HelveticaNeueLTStd-Lt/helveticaneueltstd-lt.svg#HelveticaNeueLTStd45Light') format('svg');
}

@for $i from 14 through 32{
    .f-s-#{$i}{
        font-size: #{$i}px;
    }
}
label, .label{
    font-weight: normal;
}