body{
    font-family: 'HelveticaNeueLTStd45Light', Helvetica, Arial, sans-serif;
    background: #F2F2F2;
}
.page{
    padding-top: 15px;
}
.white-bg{
    background: #fff;
}
.section{
    margin-bottom: 60px;
}