body {
    font-family: 'Open Sans', sans-serif;
    background: #F2F2F2;
    color: #333;
    font-weight: 400;
}

* {
    outline: 0 none !important;
}
.container{
    width: 1170px !important;
    padding: 0;
}
::-webkit-input-placeholder {
    font-style: italic;
    color: #BBB;
    font-weight: 400
}

:-moz-placeholder {
    font-style: italic;
    color: #BBB;
    font-weight: 400
}

::-moz-placeholder {
    font-style: italic;
    color: #BBB;
    font-weight: 400
}

:-ms-input-placeholder {
    font-style: italic;
    color: #BBB
}

.view-descr .page {
    padding-top: 15px;
}

.white-bg {
    background: #fff;
}

.section {
    margin-bottom: 60px;
}

.padding {
    @include padding(15px, 15px, 15px, 15px);
}

.margin {
    @include margin(15px, 15px, 15px, 15px);
}

.margin-top {
    @include margin(15px, 0, 0, 0);
}

.margin-bottom {
    margin-bottom: 15px;
}


.no-margin {
    @include margin(0, 0, 0, 0);
}


@for $i from 12 through 90 {
    $i : $i * 5;
    .width-#{$i} {
        width: #{$i}px !important;
    }
}
.inline-block{
    display: inline-block !important;
}

@for $i from 2 through 30 {
    $i : $i * 2;
    .margin-right-#{$i} {
        margin-right: #{$i}px !important;
    }
    .margin-left-#{$i} {
        margin-left: #{$i}px !important;
    }
    .margin-rightLeft-#{$i} {
        margin-right: #{$i}px !important;
        margin-left: #{$i}px !important;
    }
    .margin-top-#{$i} {
        margin-top: #{$i}px !important;
    }
    .margin-bottom-#{$i} {
        margin-bottom: #{$i}px !important;
    }
}

.ss-link-with-right-arrow {
    @include background-image-right( $icon-url-dash-module-link-arrow);
    padding-right: 20px;
    cursor: pointer;
}
.ss-print-icon{
 @include background-print-icon($icon-url-student-dash-module-print-icon);
 padding: 5px 31px 5px 0px;
}
.ss-help-icon {
    @include background-image-help($icon-url-help-base);
    cursor: pointer;
}
.dropdown-btn {
        width: 184px;
        height: 44px;
        opacity: 0.4;
        color: $white-color;
        background: $blue-color;
        text-align: left;
        padding-left: 15px;
        border-radius: 0px;
       &:hover,&:focus{
                color:$white-color;
            }
        .table-more-menu-icon {
            width: 12px;
            height: 20px;
            float: right;
        }
}
.add-activity-icon{
        float: right;
        @include background-image-action-icon($icon-url-solid-add-icon);
        height: 40px;
        padding-top: 10px;
        padding-left: 32px;
        margin-right: 12px;
        color:$lima-color;
        &:hover{
            color:$gray20-color;
        }
}
.anchor-tag {
    a {
        color: $lima-color;
        &:hover {
            color: $brand-warning;
        }
    }
}
.ellipsis {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}