.tables-page {
    .search-result {
        padding: 15px;
        p {
            margin: 0;
            span {
                font-size: 18px;
            }
        }
    }
    .select-holder {
        display: inline-block;
        vertical-align: middle;
        width: 80px;
        margin-right: 8px;
    }
    .table-optoins-holder{
        > *{
            margin: 0 5px;
        }
    }
}