@mixin bg-values($width,$height){
    display: inline-block;
    width: $width;
    height: $height;
    background-repeat: no-repeat;
    background-position: center;
    background-size: $width $height;
}

@mixin border-radius($value){
    -webkit-border-radius: $value;
    -ms-border-radius: $value;
    -moz-border-radius: $value;
    -o-border-radius: $value;
    border-radius: $value;
}

@mixin margin($top,$right,$bottom,$left) {
    margin: $top $right $bottom $left;
}

@mixin padding($top,$right,$bottom,$left) {
    padding: $top $right $bottom $left;
}

@mixin ventorPrefix($property, $value){
    -webkit-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
    #{$property}: $value;
}

@mixin thin-border-bottom ($color) {
    border-bottom: 1px solid $color;
}
@mixin background-image-right ($url) {

    background: url($icon-url-base+$url+"-base.png") no-repeat right;
    
    &:hover {
         background: url($icon-url-base+$url+"-over.png") no-repeat right;
    }
    
    &:clicked {
         background: url($icon-url-base+$url+"-clicked.png") no-repeat right;
    }
}
@mixin background-image-help ($url) {

    background: url($icon-url-base+$url+"_base.png") no-repeat right;
    
    &:hover {
         background: url($icon-url-base+$url+"_over.png") no-repeat right;
    }
    
}
@mixin background-image-left ($url) {

    background: url($icon-url-base+$url+".png") no-repeat left;
    
    &:hover {
         background: url($icon-url-base+$url+".png") no-repeat left;
    }
    
}
@mixin background-print-icon ($url) {

    background: url($icon-image-url-base+$url+"_base.png") no-repeat left;
    
    &:hover {
         background: url($icon-image-url-base+$url+"_clicked.png") no-repeat left;
    }
    
}
@mixin background-studentprofile-icon ($url) {

    background: url($icon-url-base+$url+"-base.png") no-repeat left;
    
    &:hover {
         background: url($icon-url-base +$url+"-selected.png") no-repeat left;
    }
    
}
@mixin background-studentprofile-risk-icon ($url) {

    background: url($icon-url-base+$url+".png") no-repeat;
    
    &:hover {
         background: url($icon-url-base +$url+".png") no-repeat;
    }
    
}
@mixin background-image-action-icon ($url) {

    background: url($icon-image-url-base+$url+"_base.png") no-repeat left;
    
    &:hover {
         background: url($icon-image-url-base+$url+"_over.png") no-repeat left;
    }
    
}