@mixin bg-values($width,$height){
    display: inline-block;
    width: $width;
    height: $height;
    background-repeat: no-repeat;
    background-position: center;
    background-size: $width $height;
}

@mixin border-radius($value){
    -webkit-border-radius: $value;
    -ms-border-radius: $value;
    -moz-border-radius: $value;
    -o-border-radius: $value;
    border-radius: $value;
}

@mixin margin($top,$right,$bottom,$left) {
    margin: $top $right $bottom $left;
}
@mixin padding($top,$right,$bottom,$left) {
    padding: $top $right $bottom $left;
}