
$blue-color: #4673a7 !global;
$dark-blue-color: #375b85 !global;
$black-color: #444 !global;
$white-color: #fff !global;
$brand-warning:  #666 !default;
$brand-primary: #4673a7 !default;
$gray60-color: #999 !global;
$primary-btn-font-size: 16px !default;
$border-color-light: #F3F3F3;
$lima-color:#1E73D5;
$gray20-color:#333333;
$davy-gray-color:#555555 !global;
$fordblack-color:#888;
$red-color:#FF0000;
$light-shade-gray:#ddd;
$venetian-red:#c70009;
$light-green:#95CD60;
$bright-red:#f7352d;
$sunglow-color:#fec82a;
$gray-light:rgba(30,115,213,.05);
$icon-url-base: "../../images/icon/";
$icon-url-dash-module-link-arrow: "dashboard_icons/dash-module-link-arrow";
$icon-url-help-base:"Help/help";
$icon-url-dash-module-priority-arrow-base: "dashboard_icons/dash-module-priority-arrow";
$icon-url-dash-module-activities-referrals-icon:"dashboard_icons/dash-module-activities-referrals-icon";
$icon-url-dash-module-survey-key-notresponded-icon:"dashboard_icons/dash-module-survey-key-notresponded";
$icon-url-dash-module-survey-key-responded-icon:"dashboard_icons/dash-module-survey-key-responded";
$icon-url-dash-module-activities-interactions-icon: "dashboard_icons/dash-module-activities-interactions-icon";
$icon-url-dash-module-activities-login-icon: "dashboard_icons/dash-module-activities-login-icon";
$icon-url-dash-module-activities-referrals-icon: "dashboard_icons/dash-module-activities-referrals-icon";

