
$blue-color: #4673a7 !global;
$dark-blue-color: #375b85 !global;
$black-color: #444 !global;
$white-color: #fff !global;
$brand-warning:  #666 !default;
$brand-primary: #4673a7 !default;
$gray60-color: #999 !global;
$primary-btn-font-size: 16px !default;
$border-color-light: #F3F3F3;

$icon-url-base: "../../images/icon/";
$icon-url-dash-module-link-arrow: "dashboard_icons/dash-module-link-arrow";