<section class="section">
   <div class="col-md-4 col-lg-4 col-sm-4 ss-faculty-dashboard-module ss-module-academic-updates">
      <h2>ACADEMIC UPDATES</h2>
      <div class="ss-menus-right">
         <a class="ss-link-with-right-arrow" href="">Academic Updates</a>
      </div>
      <p class="ss-module-content ss-no-content">
         No open updates
      </p>
   </div>
   <div class="col-md-4 col-lg-4 col-sm-4 ss-faculty-dashboard-module ss-module-todays-agenda">
      <h2>TODAY'S<br>AGENDA</h2>
      <div class="ss-menus-right ss-link-with-right-arrow">
         <p><span>Upcoming</span><br><span>appointments today</span></p>
         <p class="ss-agenda-count">0</p>
      </div>
      <div class="table-responsive" >
         <table class="table custom-table" >
            <thead>
               <tr>
                  <th>TIME</th>
                  <th>STUDENT NAME</th>
                  <th>REASON</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>
                     <div class="agenda-time-hour">11</div>
                     <div class="agenda-time-minutes"><span>:15</span><br/><span>AM</span></div>
                  </td>
                  <td class="student-name"><strong>Erica Willams</strong></td>
                  <td class="reason">Academic Concern</td>
               </tr>
               <tr>
                  <td>
                     <div class="agenda-time-hour">12</div>
                     <div class="agenda-time-minutes"><span>:15</span><br/><span>AM</span></div>
                  </td>
                  <td class="student-name"><strong>Xander Harris</strong></td>
                  <td class="reason">Academic Concern</td>
               </tr>
               <tr>
                  <td>
                     <div class="agenda-time-hour">4</div>
                     <div class="agenda-time-minutes"><span>:15</span><br/><span>PM</span></div>
                  </td>
                  <td class="student-name"><strong>Dawn Perry</strong></td>
                  <td class="reason">Academic Concern</td>
               </tr>
               <tr>
                  <td>
                     <div class="agenda-time-hour">1</div>
                     <div class="agenda-time-minutes"><span>:15</span><br/><span>PM</span></div>
                  </td>
                  <td class="student-name"><strong>Willam Russev</strong></td>
                  <td class="reason">Academic Concern</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <div class="col-md-4 col-lg-4 col-sm-4 ss-faculty-dashboard-module ss-module-referrals">
      <h2>REFERRALS</h2>
      <div class="ss-menus-right ss-link-with-right-arrow">
         <p><span>Open Referrals RECEIVED</span><br><span><b>375 Total</b> this academic year</span></p>
         <p class="ss-agenda-count">372</p>
      </div>
      <div class="table-responsive" >
         <table class="table custom-table" >
            <thead>
               <tr>
                  <th>DATE</th>
                  <th>STUDENT NAME</th>
                  <th>REASON</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>
                     <div class="agenda-time-hour">25</div>
                     <div class="agenda-time-minutes"><span>AUG</span><br/><span>2016</span></div>
                  </td>
                  <td class="student-name"><span>Acosta,Harry</span><br><span>Created by:test coordinator_org62</span></td>
                  <td class="reason">Class attendence concern</td>
               </tr>
               <tr>
                  <td>
                     <div class="agenda-time-hour">24</div>
                     <div class="agenda-time-minutes"><span>AUG</span><br/><span>2016</span></div>
                  </td>
                  <td class="student-name"><span>Acosta,Harry</span><br><span>Created by:test coordinator_org62</span></td>
                  <td class="reason">Class attendence concern</td>
               </tr>
               <tr>
                  <td>
                     <div class="agenda-time-hour">26</div>
                     <div class="agenda-time-minutes"><span>AUG</span><br/><span>2016</span></div>
                  </td>
                  <td class="student-name"><span>Acosta,Harry</span><br><span>Created by:test coordinator_org62</span></td>
                  <td class="reason">Class attendence concern</td>
               </tr>
            </tbody>
         </table>
      </div>
      <div class="ss-menus-right ss-link-with-right-arrow">
         <p><span>Open Referrals SENT</span><br><span><b>0 Total</b> this academic year</span></p>
         <p class="ss-agenda-count">390</p>
      </div>
   </div>
   <div class="col-md-4 col-lg-4 col-sm-4 ss-faculty-dashboard-module ss-module-myteam-activities">
      <div class="row">
         <div class="col-md-4">
            <h2>MY TEAMS'<br>ACTIVITIES</h2>
         </div>
         <div class="col-md-4">
            <div class="btn-group" uib-dropdown >
               <button id="btn-append-to-single-button" type="button" class="btn dropdown-btn" uib-dropdown-toggle>
               <span>Team 1</span><span class="table-more-menu-icon"></span>
               </button>
               <ul class="dropdown-menu team-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
                  <li role="menuitem"><a href="#">Team 1</a></li>
               </ul>
            </div>
         </div>
         <div class="col-md-4 dropdown-calender">
            <div class="btn-group" uib-dropdown>
               <button id="btn-append-to-single-button" type="button" class="btn dropdown-btn" uib-dropdown-toggle>
               This Week <span class="table-more-menu-icon"></span>
               </button>
               <ul class="dropdown-menu team-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
                  <li role="menuitem"><a href="#">This Month</a></li>
               </ul>
            </div>
         </div>
      </div>
      <div class="ss-module-content">
         <ul>
            <li><span class="referral-icon"></span><a href="">Team Open Referrals<span class="count">15</span></a></li>
            <li><span class="interaction-icon"></span><a href="">Interactions<span class="count">200</span></a></li>
            <li><span class="login-icon"></span><a href="">Logins<span class="count">15</span></a></li>
         </ul>
      </div>
   </div>
   <div class="col-md-4 col-lg-4 col-sm-4 ss-faculty-dashboard-module ss-module-student-risk">
      <div class="ss-student-header">
         <span>
            <h2 class="ss-help-icon">MY STUDENTS</h2>
         </span>
         <span>
            <h2 class="ss-help-icon">PRIORITY<br>STUDENTS AT RISK</h2>
         </span>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-6 ss-my-students">
         <ul>
            <li>52<sup>%</sup><label>RED2</label></li>
            <li>32<sup>%</sup><label>RED</label></li>
            <li>23<sup>%</sup><label>YELLOW</label></li>
            <li>55<sup>%</sup><label>GREEN</label></li>
            <li>16<sup>%</sup><label>GRAY</label></li>
         </ul>
         <div class="total-student-chart">
            <nvd3-pie-chart data="exampleData" id="exampleId" showlabels="false" x="xFunction()" y="yFunction()" tooltips="false" donut="true" donutratio="0.7" margin="{left:-22,top:-22,bottom:0,right:0}" donutlabelsoutside="false" color="colorFunction()" width="200" height="200" class="ng-isolate-scope">
               <svg height="200" width="200">
                  <g class="nvd3 nv-wrap nv-pieChart" transform="translate(-22,-22)">
                     <g>
                        <g class="nv-pieWrap">
                           <g class="nvd3 nv-wrap nv-pie nv-chart-3923" transform="translate(0,0)">
                              <g>
                                 <g class="nv-pie" transform="translate(111,111)">
                                    <g class="nv-slice" fill="#cccccc" stroke="#cccccc">
                                       <path d="M5.437431788214248e-15,-88.8A88.8,88.8 0 1,1 -11.129591140510227,88.09978547672563L-9.738392247946448,77.08731229213491A77.69999999999999,77.69999999999999 0 1,0 4.757752814687467e-15,-77.69999999999999Z"></path>
                                    </g>
                                    <g class="nv-slice" fill="#95cd3c" stroke="#95cd3c">
                                       <path d="M-11.129591140510227,88.09978547672563A88.8,88.8 0 0,1 -47.58141939413487,-74.97631978457896L-41.633741969868005,-65.60427981150657A77.69999999999999,77.69999999999999 0 0,0 -9.738392247946448,77.08731229213491Z"></path>
                                    </g>
                                    <g class="nv-slice" fill="#fec82a" stroke="#fec82a">
                                       <path d="M-47.58141939413487,-74.97631978457896A88.8,88.8 0 0,1 -32.68946027839939,-82.56415194687672L-28.603277743599463,-72.24363295351712A77.69999999999999,77.69999999999999 0 0,0 -41.633741969868005,-65.60427981150657Z"></path>
                                    </g>
                                    <g class="nv-slice" fill="#f72d35" stroke="#f72d35">
                                       <path d="M-32.68946027839939,-82.56415194687672A88.8,88.8 0 0,1 -16.639460735212346,-87.22710786470756L-14.559528143310802,-76.3237193816191A77.69999999999999,77.69999999999999 0 0,0 -28.603277743599463,-72.24363295351712Z"></path>
                                    </g>
                                    <g class="nv-slice" fill="#c70009" stroke="#c70009">
                                       <path d="M-16.639460735212346,-87.22710786470756A88.8,88.8 0 0,1 -1.6312295364642742e-14,-88.8L-1.42732584440624e-14,-77.69999999999999A77.69999999999999,77.69999999999999 0 0,0 -14.559528143310802,-76.3237193816191Z"></path>
                                    </g>
                                 </g>
                                 <g class="nv-pieLabels" transform="translate(111,111)"></g>
                              </g>
                           </g>
                        </g>
                        <g class="nv-legendWrap"></g>
                     </g>
                  </g>
               </svg>
            </nvd3-pie-chart>
         </div>
         <div class="total-students-center">
            <span class="student-count">27133</span><span>Total Students</span>
         </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-6 ss-high-priority">
         <p class="ss-high-priority-count">137</p>
         <p class="ss-high-priority-content">
            <span><b>High priority </b></span><span>students need<br/>to be contacted</span>
         </p>
      </div>
   </div>
   <div class="col-md-4 col-lg-4 col-sm-4 ss-faculty-dashboard-module ss-module-survey-completions">
      <div class="row">
         <div class="col-md-6">
            <h2>SURVEY COMPLETIONS</h2>
         </div>
         <div class="col-md-6 dropdown-calender">
            <div class="btn-group" uib-dropdown>
               <button id="btn-append-to-single-button" type="button" class="btn dropdown-btn" uib-dropdown-toggle>
               Transition One<span class="table-more-menu-icon"></span>
               </button>
               <ul class="dropdown-menu team-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
                  <li role="menuitem"><a href="#">Transition Two</a></li>
                  <li role="menuitem"><a href="#">Transition Three</a></li>
               </ul>
            </div>
         </div>
      </div>
      <div class="ss-module-content ss-survey-cohort">
         <ul>
            <li>
               <span class="cohort-name">SURVEY COHORT 1: JAN-22-2016 THROUGH JAN-24-2016</span>
               <div class="survey-progress">
                  <div class="progress">
                     <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:86%">
                     </div>
                  </div>
                  <div class="survey-respond-percent">
                     <span class="survey-count">86<sup>%</sup></span>
                     <span class="survey-response">RESPONSE</span>
                  </div>
                  <div class="survey-completion-values"><span>6</span>/<span>7</span></div>
               </div>
            </li>
            <li>
               <span class="cohort-name">SURVEY COHORT 4: JAN-27-2016 THROUGH FEB-20-2016</span>
               <div class="survey-progress">
                  <div class="progress">
                     <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:27%">
                     </div>
                  </div>
                  <div class="survey-respond-percent">
                     <span class="survey-count">27<sup>%</sup></span>
                     <span class="survey-response">RESPONSE</span>
                  </div>
                  <div class="survey-completion-values"><span>42</span>/<span>155</span></div>
               </div>
            </li>
         </ul>
         <div class="survey-legend">
            <span>RESPONDED</span>
            <span>NOT RESPONDED</span>
         </div>
      </div>
   </div>
</section>