<section class="section">
    <h2>Coordinator</h2>
    
    <div class="col-md-4 col-lg-4 col-sm-4 ss-coord-dashboard-module ss-module-overview">
              <h2>COURSES</h2>
              <p class="ss-module-content">
                <span class="ss-module-count">123</span>
                <span class="ss-module-id">courses</span>
                <button type="submit"  class="btn btn-primary ss-module-action" title="Click here to Manage Courses">Manage Courses</button>
              </p>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 ss-coord-dashboard-module ss-additional-setup">
              <h2>Additional Setup</h2>
              <div class="ss-module-content">
                <ul>
                    <li><a href="">Settings</a></li>
                    <li><a href="">ISPs</a></li>
                    <li><a href="">Campus Resource</a></li>
                </ul>
              </div>
        </div>
</section>

