<section class="section">
   <div class="sub-menu">
      <a class="back-button" href="">Back</a>
      <div class="search-box">
         <input type="text" placeholder="enter student name, email, or id">
      </div>
   </div>
   <div class="student-profile-header">
      <p class="ss-link-with-right-arrow">
         <a href="">Dashboard</a>
      </p>
      <p class="studentname-header">
         Catherine Galles
      </p>
      <div class="student-profile-print">
         <span class="ss-print-icon"></span>
         <a href="">Print</a>
      </div>
   </div>
   <div class="student-profile-container">
      <div class="student-profile-photo col-md-3 col-sm-3 col-xs-3"></div>
      <div class="col-md-6 col-sm-6 col-xs-6 student-profile-info">
         <p class="student-name ">Catherine Galles</p>
         <p class="student-id">ID: 1223233</p>
         <div class="student-details">
            <p class="email-id">EMAIL:<br/><a href="#">cathy.galles@student.horizon.edu</a></p>
            <p class="phone-no">PHONE:<br/><span>(555)334-3333</span></p>
         </div>
      </div>
      <div class="student-profile-risk-info col-md-3 col-sm-3 col-xs-3">
         <div class="risk-level-icon">
            <span></span>
         </div>
         <div class="leave-intent-icon">
            <span></span>
         </div>
         <div class="student-details">
            <p class="risk-update">RISK UPDATED:<br/><span>01/13/2016</span></p>
            <p class="last-viewed">LAST VIEWED:<br/><span>09/06/2016</span></p>
         </div>
      </div>
   </div>
   <div class="student-profile-status"><span>Spring Transition: <b>NOT RESPONDED</b></span>
      <span>Launched on : 1/22/16 Closes on : 1/24/16</span>
   </div>
   <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 ss-coord-dashboard-module ss-student-referral">
      <h2><span></span>Open Referrals</h2>
      <div class="ss-content">
         <p class="ss-count">2</p>
         <span class="ss-value">6 total referrals</span>
         <button type="submit"  class="btn btn-block ss-action" title="Click here to Make a Referral">Make a Referral</button>
      </div>
   </div>
   <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 ss-coord-dashboard-module ss-student-Appointment">
      <h2><span></span>Upcoming Appointments</h2>
      <div class="ss-content">
         <p class="ss-count">5</p>
         <span class="ss-value"></span>
         <button type="submit"  class="btn btn-block btn-primary ss-action" title="Click here to Book an Appointment">Book an Appointment</button>
      </div>
   </div>
   <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 ss-coord-dashboard-module ss-student-contact">
      <h2><span></span>Contacts</h2>
      <div class="ss-content">
         <p class="ss-count">3</p>
         <span class="ss-value"></span>
         <button type="submit"  class="btn btn-block btn-primary ss-action" title="Click here to Log a Contact">Log a Contact</button>
      </div>
   </div>
</section>