<section class="section">
   <div class="col-md-4 col-lg-4 col-sm-4 ss-faculty-dashboard-module ss-module-academic-updates">
      <h2>ACADEMIC UPDATES</h2>
      <div class="ss-menus-right">
         <a class="ss-link-with-right-arrow" href="">Academic Updates</a>
      </div>
      <p class="ss-module-content ss-no-content">
         No open updates
       </p>
   </div>
   <div class="col-md-4 col-lg-4 col-sm-4 ss-faculty-dashboard-module ss-module-todays-agenda">
      <h2>TODAY'S<br>AGENDA</h2>
      <div class="ss-menus-right ss-link-with-right-arrow">
         <p><span>Upcoming</span><br><span>appointments today</span></p>
         <p class="ss-agenda-count">0</p>
      </div>
      <div class="table-responsive" >
         <table class="table custom-table" >
            <thead>
               <tr>
                  <th>TIME</th>
                  <th>STUDENT NAME</th>
                  <th>REASON</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>
                     <div class="agenda-time-hour">11</div>
                     <div class="agenda-time-minutes"><span>:15</span><br/><span>AM</span></div>
                  </td>
                  <td class="student-name"><strong>Erica Willams</strong></td>
                  <td class="reason">Academic Concern</td>
               </tr>
               <tr>
                  <td>
                     <div class="agenda-time-hour">12</div>
                     <div class="agenda-time-minutes"><span>:15</span><br/><span>AM</span></div>
                  </td>
                  <td class="student-name"><strong>Xander Harris</strong></td>
                  <td class="reason">Academic Concern</td>
               </tr>
               <tr>
                  <td>
                     <div class="agenda-time-hour">4</div>
                     <div class="agenda-time-minutes"><span>:15</span><br/><span>PM</span></div>
                  </td>
                  <td class="student-name"><strong>Dawn Perry</strong></td>
                  <td class="reason">Academic Concern</td>
               </tr>
               <tr>
                  <td>
                     <div class="agenda-time-hour">1</div>
                     <div class="agenda-time-minutes"><span>:15</span><br/><span>PM</span></div>
                  </td>
                  <td class="student-name"><strong>Willam Russev</strong></td>
                  <td class="reason">Academic Concern</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <div class="col-md-4 col-lg-4 col-sm-4 ss-faculty-dashboard-module ss-module-referrals">
      <h2>REFERRALS</h2>
      <div class="ss-menus-right ss-link-with-right-arrow">
         <p><span>Open Referrals RECEIVED</span><br><span><b>375 Total</b> this academic year</span></p>
         <p class="ss-agenda-count">372</p>
      </div>
      <div class="table-responsive" >
         <table class="table custom-table" >
            <thead>
               <tr>
                  <th>DATE</th>
                  <th>STUDENT NAME</th>
                  <th>REASON</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>
                     <div class="agenda-time-hour">25</div>
                     <div class="agenda-time-minutes"><span>AUG</span><br/><span>2016</span></div>
                  </td>
                  <td class="student-name"><span>Acosta,Harry</span><br><span>Created by:test coordinator_org62</span></td>
                  <td class="reason">Class attendence concern</td>
               </tr>
               <tr>
                  <td>
                     <div class="agenda-time-hour">24</div>
                     <div class="agenda-time-minutes"><span>AUG</span><br/><span>2016</span></div>
                  </td>
                  <td class="student-name"><span>Acosta,Harry</span><br><span>Created by:test coordinator_org62</span></td>
                  <td class="reason">Class attendence concern</td>
               </tr>
               <tr>
                  <td>
                     <div class="agenda-time-hour">26</div>
                     <div class="agenda-time-minutes"><span>AUG</span><br/><span>2016</span></div>
                  </td>
                  <td class="student-name"><span>Acosta,Harry</span><br><span>Created by:test coordinator_org62</span></td>
                  <td class="reason">Class attendence concern</td>
               </tr>
            </tbody>
         </table>
      </div>
      <div class="ss-menus-right ss-link-with-right-arrow">
         <p><span>Open Referrals SENT</span><br><span><b>0 Total</b> this academic year</span></p>
         <p class="ss-agenda-count">390</p>
      </div>
   </div>
   <div class="col-md-4 col-lg-4 col-sm-4 ss-faculty-dashboard-module ss-module-myteam-activities">
       <div class="row">
           <div class="col-md-4">
               <h2>MY TEAMS'<br>ACTIVITIES</h2></div>
           <div class="col-md-4">
             <div class="btn-group" uib-dropdown >
            <button id="btn-append-to-single-button" type="button" class="btn team-btn" uib-dropdown-toggle>
             <span>Team 1</span><span class="table-more-menu-icon"></span>
            </button>
            <ul class="dropdown-menu team-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
              <li role="menuitem"><a href="#">Action</a></li>
              <li role="menuitem"><a href="#">Another action</a></li>
              <li role="menuitem"><a href="#">Something else here</a></li>
            </ul>
          </div>
           </div>
           <div class="col-md-4 dropdown-calender">
            <div class="btn-group" uib-dropdown>
            <button id="btn-append-to-single-button" type="button" class="btn team-btn" uib-dropdown-toggle>
              This Week <span class="table-more-menu-icon"></span>
            </button>
            <ul class="dropdown-menu team-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
              <li role="menuitem"><a href="#">Action</a></li>
              <li role="menuitem"><a href="#">Another action</a></li>
              <li role="menuitem"><a href="#">Something else here</a></li>
            </ul>
          </div>
           </div>
       </div>
          <div class="ss-module-content">
            <ul>
                <li><a href="">Team Open Referrals<span class="count">15</span></a></li>
                <li><a href="">Interactions<span class="count">200</span></a></li>
                <li><a href="">Logins<span class="count">15</span></a></li>
            </ul>
          </div>
   </div>
    
</section>