<div class="dropdown mw1-dropdown jnb-dropdown" role="application"
	 ng-style="customWidth">
	
	<!-- Place holder button for the click -->
	<!-- Bug ID 8281: QaitDevlabs -->
	<button 
		id="{{id}}" name="{{elementName}}" tabindex="15"
		type="button" aria-controls="dropmenu{{id}}"
		
		aria-expanded="toggleDropDown{{$index}}" aria-haspopup="true"

		class="mw1-form-control control-ie dropdown-toggle" 
		data-toggle="dropdown"

		ng-disabled="isButtonDisable()"
		ng-model="selectedItem">

		<span ng-bind="getCaption( selectedItem)"></span>
	</button>
	
	<!-- Drop down list below the button -->
	<ul class="dropdown-menu mw1-dropdown-menu scrollable" id="dropmenu{{id}}" role="menu"
		
		ng-init="toggleDropDown = true"
		ng-show="toggleDropDown"
		ng-style="customStyle">
		<li
                    
			ng-repeat="item in list track by $index"
                        id="li{{id}}{{$index}}"
            ng-click="item.isHeading?'':selectItem( item,'c',$index,id)" 
            ng-enter="item.isHeading?'':selectItem( item,'e',$index,id)"
			ng-disabled="isSubTitle( item)"
			ng-class="{'category-head-item':item.isHeading,'mw1-dropdown-sub-title': isSubTitle( item) }"
			tabindex="0"
			role="menuitem"
			ng-keydown="item.isHeading?'':setFocus($last,$event)"
			title= "{{item.isHeading?item.name:getCaption( item)}}" aria-label="{{$last ? 'This is the last menu item.':''}}">
            <p class="headingSpan" ng-if="item.isHeading">{{item.name}}</p>
				<a ng-if="!item.isHeading" href="javascript:void(0);"
                                    ng-disabled="isSubTitle( item)"
					ng-class="{ 
						'dropdown-selected-item': isSelected( item),
						'offset-item': (!isSubTitle( item)), 
						'mw1-dropdown-sub-title-offset': !isSubTitle( item)
					}" 
					title= "{{getCaption( item)}}" role="link" tabindex="-1">
					{{ getCaption( item) }}
					<span ng-if="$last" class="visuallyhidden" >This is the last menu item.</span>
				</a>

		</li>
	</ul>
</div>